@import "style.css";


@media screen and (min-width: 1440px) {

}

@media screen and (min-width: 1366px) {

  .setka {
    left: -2.3%;
  }


}

@media screen and (max-width: 1280px) {
 
  .setka {
    left: -5.3%;
  }
  .hand {
    
    margin-top:-2.5%;
    left: -2.5%;
  }

  .hand1280 {
    margin-top:-28.5%;
    left: 1.3%;
  }

  .hand2 {
    left:-2.8%;
  }

  .wing {
    width:52%;
    height:auto;
    z-index:1;
    left:0.5%;
    margin-top:0.4%;
  }
  
  .chelka {
    width:24%;
    height:auto;
    left:1.9%;
    margin-top:1.3%;
  }

  .eyemouth {
    width:19.8%;
    height:auto;
    left:1%;
    margin-top:0.8%;

  }

  .rog {
    width:24%;
    height:auto;
  }

  .earb {
    width:20%;
    height:auto;
    left:-1%;
    margin-top:0.8%;
  }

  .ear2 {
    width:21%;
    height:auto;
    left:0.2%;
    margin-top:0.8%;
  }

  .greeneye {
    width:3%;
    height:auto;
    left:0.2%;
    margin-top:0.2%;
  }

  .vulc2 {
    position:absolute;
    margin-top:-0.4%;
    margin-left:5%;
    z-index: inherit 102;
    opacity: 100%;
    
  }
  .vulc {
    display:none;
  }

  p {
    font-size: 16px;
    left: 0.5%;
  }

 
  .text4, .text5, .text14, .text15 {
    position: absolute;
    left:-1%;
  }

  .text6, .text7, .text20, .text21 {
    position: absolute;
    left:-0.5%;
  }

  .text8, .text9, .text12, .text16 {
    position: absolute;
    left:0%;
  }

  .text13, .text23, .text24 {
    position: absolute;
    left:1%;
  }


  .text10, .text11 {
    position: absolute;
    left:1.5%;
  }

  .text, .text2, .text3, .text18, .text19 {
    position: absolute;
    left:-1.8%;
  }

  .text17 {
    position: absolute;
    left:0%;
  }

  .text22 {
    position: absolute;
    left:-0.5%;
  }



}